*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.inputSearch{
  width: 350px;
  height: 45px;
}
.search{
  padding: 10px 25px;
  border : 1px solid #eee;
  border-radius: 5px;
}

.btn-create{
  background-color: rgb(24, 159, 233);
  width: 100px;
  height: 100%;
  margin-left: 5px;
  border-radius: 5px;
}